.story {
  padding: 1rem 0;

  &-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    row-gap: 30px;
    justify-content: center;

    &-point {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-circle {
        background-color: rgb(213 232 255);
        width: 20px;
        height: 20px;
        border-radius: 999999px;

        &-border {
          border: 2px solid black;
        }
      }

      &-par {
        position: absolute;
        top: 20px;
        font-size: 20px;
        font-family: "Sansita", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
    }
  }
}
